In [2]:
#importing the libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

import shutil
import os
import os.path as path

In [ ]:
# https://www.kaggle.com/andyczhao/covidx-cxr2?select=train.txt

In [3]:
#tao duong dan den data
train_path = '../dataset/train/'
test_path = '../dataset/test/'

In [4]:
#doc file metadata
train_metadata = '../dataset/' + 'train.txt'
test_metadata = '../dataset/' + 'test.txt'
train_txt= pd.read_csv(train_metadata, sep=" ", header=None)
test_txt = pd.read_csv(test_metadata, sep=" ", header=None)

In [5]:
#gan ten cot
train_txt.columns= ["patient id","file_name","class","source"]
train_txt.head()

  patient id                                       file_name     class source
0          5                                  ARDSSevere.png  negative  cohen
1         25  acute-respiratory-distress-syndrome-ards-1.jpg  negative  cohen
2         26    acute-respiratory-distress-syndrome-ards.jpg  negative  cohen
3         27          ards-secondary-to-tiger-snake-bite.png  negative  cohen
4         28                 pneumocystis-pneumonia-2-PA.png  negative  cohen

In [6]:
#https://www.dataquest.io/blog/tutorial-add-column-pandas-dataframe-based-on-if-else-condition/
train_txt['label'] = np.where(train_txt['class']== 'negative', 0, 1) #tao cot label theo dk cua class
train_txt

,patient id,file_name,class,source,label
0,5,ARDSSevere.png,negative,cohen,0
1,25,acute-respiratory-distress-syndrome-ards-1.jpg,negative,cohen,0
2,26,acute-respiratory-distress-syndrome-ards.jpg,negative,cohen,0
3,27,ards-secondary-to-tiger-snake-bite.png,negative,cohen,0
4,28,pneumocystis-pneumonia-2-PA.png,negative,cohen,0
...,...,...,...,...,...
30477,55204bb8-89fc-449d-8563-e91654abea9d,55204bb8-89fc-449d-8563-e91654abea9d.png,negative,rnsa,0
30478,0f4b80b6-fd39-451f-aebf-7cdb1b655c0b,0f4b80b6-fd39-451f-aebf-7cdb1b655c0b.png,negative,rnsa,0
30479,5fb64e85-62ef-4852-8ad1-f799015c8cc3,5fb64e85-62ef-4852-8ad1-f799015c8cc3.png,negative,rnsa,0
30480,c57ad4fd-3aa8-4ae8-a262-7336360d8265,c57ad4fd-3aa8-4ae8-a262-7336360d8265.png,negative,rnsa,0
30481,c56b4527-615d-414f-a375-081e6f3bbfdc,c56b4527-615d-414f-a375-081e6f3bbfdc.png,negative,rnsa,0

In [7]:
#chi lay cot filename va label (1,4)
train_txt1 = train_txt.iloc[:,[1,4]]
train_txt1

                                            file_name  label
0                                      ARDSSevere.png      0
1      acute-respiratory-distress-syndrome-ards-1.jpg      0
2        acute-respiratory-distress-syndrome-ards.jpg      0
3              ards-secondary-to-tiger-snake-bite.png      0
4                     pneumocystis-pneumonia-2-PA.png      0
...                                               ...    ...
30477        55204bb8-89fc-449d-8563-e91654abea9d.png      0
30478        0f4b80b6-fd39-451f-aebf-7cdb1b655c0b.png      0
30479        5fb64e85-62ef-4852-8ad1-f799015c8cc3.png      0
30480        c57ad4fd-3aa8-4ae8-a262-7336360d8265.png      0
30481        c56b4527-615d-414f-a375-081e6f3bbfdc.png      0

[30482 rows x 2 columns]

In [8]:
path_label = ['../dataset/Negative/', '../dataset/Positive/'] # tạo 2 thư mục chứa ảnh phân vùng theo nhãn (Positive - Negative)

for i in range(len(path_label)):
    if not path.exists(path_label[i]): 
        os.mkdir(path_label[i])

In [20]:
path_label[0]

'../dataset/Negative/'

In [9]:
lb = train_txt['label']
lb['bins'] = pd.cut(x = train_txt['label'], bins = 2, labels=path_label)
lb['bins'].value_counts()

/home/trucloan/anaconda3/envs/me/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

../dataset/Positive/    16490
../dataset/Negative/    13992
Name: label, dtype: int64

In [36]:
#copy ảnh tải về phân chia vào từng thư mục theo label
source = '../dataset/train/'
for i in range(len(train_txt)):
    if (train_txt['label'][i] ==0):
        shutil.copy(source + train_txt['file_name'][i], path_label[0])
    elif (train_txt['label'][i] == 1):
        shutil.copy(source + train_txt['file_name'][i], path_label[1])

In [10]:
for i in range(len(path_label)):
    print(path_label[i], len(os.listdir(path_label[i]))) #xem có bao nhiêu file trong thư mục

../dataset/Negative/ 13992
../dataset/Positive/ 16490

In [11]:
path_label50 = ['../dataset/Negative50/', '../dataset/Positive50/'] # tạo 2 thư mục chứa 50 ảnh phân vùng theo nhãn (Positive - Negative)

for i in range(len(path_label50)):
    if not path.exists(path_label50[i]): 
        os.mkdir(path_label50[i])

In [12]:
lb50 = train_txt1['label']
lb50['bins'] = pd.cut(x = train_txt1['label'], bins = 2, labels=path_label50)
lb50['bins'].value_counts()

/home/trucloan/anaconda3/envs/me/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/trucloan/anaconda3/envs/me/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/home/trucloan/anaconda3/envs/me/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3331: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

../dataset/Positive50/    16490
../dataset/Negative50/    13992
Name: label, dtype: int64

In [15]:
source = '../dataset/train/'
for i in range(50):
    if (train_txt1['label'][i] ==0):
        shutil.copy(source + train_txt['file_name'][i], path_label50[0])
    elif (train_txt['label'][i] == 1):
        shutil.copy(source + train_txt['file_name'][i], path_label50[1])

FileNotFoundError: [Errno 2] No such file or directory: '../dataset/Positive/ARDSSevere.png'

In [31]:
path_label50[1]

'../dataset/Positive50/'

In [10]:
for i in range(len(path_label)):
    print(path_label[i], len(os.listdir(path_label[i])))

../dataset/Negative50 50
../dataset/Positive50/ 0

In [7]:
#gan ten cot tren file test
test_txt.columns= ["patient id","file_name","class","source"]
test_txt.head()

      patient id                                  file_name     class  source
0  419639-003251  MIDRC-RICORD-1C-419639-003251-46647-0.png  positive  ricord
1  419639-001464  MIDRC-RICORD-1C-419639-001464-39871-0.png  positive  ricord
2  419639-000918  MIDRC-RICORD-1C-419639-000918-78965-0.png  positive  ricord
3  419639-003318  MIDRC-RICORD-1C-419639-003318-64285-0.png  positive  ricord
4  419639-001015  MIDRC-RICORD-1C-419639-001015-81591-0.png  positive  ricord

In [8]:
test_txt['label'] = np.where(test_txt['class']== 'negative', 0, 1) #tao cot label theo dk cua class
test_txt

,patient id,file_name,class,source,label
0,419639-003251,MIDRC-RICORD-1C-419639-003251-46647-0.png,positive,ricord,1
1,419639-001464,MIDRC-RICORD-1C-419639-001464-39871-0.png,positive,ricord,1
2,419639-000918,MIDRC-RICORD-1C-419639-000918-78965-0.png,positive,ricord,1
3,419639-003318,MIDRC-RICORD-1C-419639-003318-64285-0.png,positive,ricord,1
4,419639-001015,MIDRC-RICORD-1C-419639-001015-81591-0.png,positive,ricord,1
...,...,...,...,...,...
395,a77b32f6-1999-4cc6-8a0d-1ef7e53850f0,a77b32f6-1999-4cc6-8a0d-1ef7e53850f0.png,negative,rsna,0
396,41bf2042-53a2-44a8-9a29-55e643af5ac0,41bf2042-53a2-44a8-9a29-55e643af5ac0.png,negative,rsna,0
397,ec09ddb3-9b0b-4749-9e0d-f94a4a7e5fed,ec09ddb3-9b0b-4749-9e0d-f94a4a7e5fed.png,negative,rsna,0
398,abff4044-3c0a-458f-b0c7-04254be7fc0c,abff4044-3c0a-458f-b0c7-04254be7fc0c.png,negative,rsna,0
399,27b32500-40ef-4c14-ab88-ace5e9ceea27,27b32500-40ef-4c14-ab88-ace5e9ceea27.png,negative,rsna,0

In [9]:
#chi lay cot filename va label (1,4)
test_txt1 = test_txt.iloc[:,[1,4]]
test_txt1

                                     file_name  label
0    MIDRC-RICORD-1C-419639-003251-46647-0.png      1
1    MIDRC-RICORD-1C-419639-001464-39871-0.png      1
2    MIDRC-RICORD-1C-419639-000918-78965-0.png      1
3    MIDRC-RICORD-1C-419639-003318-64285-0.png      1
4    MIDRC-RICORD-1C-419639-001015-81591-0.png      1
..                                         ...    ...
395   a77b32f6-1999-4cc6-8a0d-1ef7e53850f0.png      0
396   41bf2042-53a2-44a8-9a29-55e643af5ac0.png      0
397   ec09ddb3-9b0b-4749-9e0d-f94a4a7e5fed.png      0
398   abff4044-3c0a-458f-b0c7-04254be7fc0c.png      0
399   27b32500-40ef-4c14-ab88-ace5e9ceea27.png      0

[400 rows x 2 columns]

In [10]:
test_txt1.to_csv('../dataset/t.csv',index=False)

In [11]:
with open('../dataset/test_set.txt', 'w') as f:
    f.write(
        test_txt1.to_string(header = True, index = False)
    )
f.close()

In [12]:
train_set,val_set=train_test_split(train_txt1,test_size=0.2, random_state = 42, shuffle=True)

In [13]:
train_set

                                               file_name  label
11830           46c06db4-948e-4495-a9a1-d4f945a0fb6e.png      0
1192                                      COVID(487).png      1
13999           b1f2db42-68ac-4c11-a4f4-3f6b8b6be999.png      0
24485  A806933-01-03-1901-NA-CHEST_AP_PORT-36564-2.00...      1
13369           9e149c3a-0dbc-4d4d-a7f6-939c4e4d8688.png      0
...                                                  ...    ...
29802  A609098-11-26-1900-NA-CHEST_AP_PORT-52751-1.00...      1
5390            7462adfa-a0fc-4489-8d58-89f1d012c26a.png      0
860                                       COVID(151).png      1
15795           1ffee791-10f6-4b8f-bfcd-35220e8e0003.png      0
23654  A765481-01-02-1901-NA-CHEST_AP_PORT-11585-5.00...      1

[24385 rows x 2 columns]

In [14]:
with open('../dataset/train_set.txt', 'w') as f:
    f.write(
        train_set.to_string(header = True, index = False)
    )
f.close()

In [15]:
val_set

                                               file_name  label
13643           a8b5a123-6dbd-412e-a871-12f4f65a6a05.png      0
23656  A765481-01-01-1901-NA-CHEST_AP_PORT_CENTRAL_LI...      1
15264           e8659775-8a7f-40c1-a3a9-abdc85ba4fd4.png      0
21658  A923527-01-17-1901-NA-CHEST_AP_PORT_CENTRAL_LI...      1
28506  A586701-12-31-1900-NA-CHEST_AP_VIEWONLY-67467-...      1
...                                                  ...    ...
25374  A003797-01-09-1901-NA-CHEST_AP_PORT-58101-2.00...      1
7785            b5c901dc-9e41-4ffd-b880-412e0f9b8ef9.png      0
19887  A142433-12-21-1900-NA-CHEST_AP_PORT-69348-4.00...      1
11034           29576186-ed47-4331-8ea0-08d899822c1f.png      0
24797  A769593-01-11-1901-NA-CHEST_AP_PORT-88338-1.00...      1

[6097 rows x 2 columns]

In [16]:
with open('../dataset/val_set.txt', 'w') as f:
    f.write(
        val_set.to_string(header = True, index = False)
    )
f.close()

In [17]:
# train_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24385 entries, 11830 to 23654
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   file_name  24385 non-null  object
 1   label      24385 non-null  int64
dtypes: int64(1), object(1)
memory usage: 571.5+ KB